  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span{
    white-space: pre-line;
  }
  .copy_right_footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: deeppink;
    color:black;
    text-align: center;
    line-height: 3;
  }
  canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(238, 9, 97);
    margin-top: 200px;
  }
  body{
    height:800px;

  }
 